<main class="mr-1">
  <h4 *ngIf="state.requestError" class="text-red-600 text-base sm:text-xl">
    An error occured whiles processing your request.
  </h4>
  <form
    [formGroup]="state.form"
    class="flex flex-col items-start sm:items-center sm:flex-row gap-1"
    (ngSubmit)="onSubmit()"
  >
    <input
      class="border-2 rounded-md p-1 outline-none focus:border-clr_primary transition-colors w-full"
      type="url"
      name="link"
      id="link"
      placeholder="Your long url"
      formControlName="url"
    />
    <button
      *ngIf="!state.processingRequest"
      class="bg-clr_primary border-2 border-clr_primary text-white rounded-md p-1 font-bold hover:bg-white hover:text-clr_primary min-w-max disabled:bg-blue-300 disabled:text-white"
      [disabled]="!state.form.valid"
    >
      Generate Link
    </button>
    <div
      *ngIf="state.processingRequest"
      class="text-white border-2 border-clr_primary rounded-md font-bold w-max py-1 px-2 bg-clr_primary flex items-center cursor-none"
    >
      <svg
        role="status"
        class="mr-2 w-5 h-5 text-gray-200 animate-spin fill-blue-600"
        viewBox="0 0 100 101"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
          fill="currentColor"
        />
        <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="currentFill"
        />
      </svg>
      <h5 class="text-base w-max">Please Wait</h5>
    </div>
  </form>

  <h3 class="text-xl text-clr_primary font-medium mt-2">Shortened URLs</h3>
  <table class="w-full">
    <thead class="border-b-2 border-clr_primary">
      <tr>
        <th class="hidden sm:table-cell">Code</th>
        <th>Long URL</th>
        <th class="hidden sm:table-cell">Date created</th>
        <th>Redirects</th>
        <th>Status</th>
        <th class="hidden sm:table-cell">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let url of state.urls; let i_index = index"
        class="text-center border-b-2 border-gray-300"
      >
        <td class="hidden sm:table-cell">{{ url.code }}</td>
        <td class="py-3">{{ url.long_url }}</td>
        <td class="hidden sm:table-cell">{{ url.date_created }}</td>
        <td>Not yet</td>
        <td>
          <app-switch
            [checked]="url.status.toLowerCase() === 'active'"
            (toggle)="onToggle($event, url.code, i_index)"
          ></app-switch>
        </td>
        <td class="hidden sm:table-cell">
          <div class="flex gap-1 justify-center">
            <img
              class="cursor-pointer"
              src="/assets/copy.svg"
              alt="Copy button"
            />
            <img
              class="cursor-pointer"
              src="/assets/del.svg"
              alt="Delete button"
            />
            <img
              class="cursor-pointer"
              src="/assets/edit.svg"
              alt="Edit button"
            />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <p
    *ngIf="!state.fetchUrlsError && state.urls && state.urls.length <= 0"
    class="text-center text-xl py-6"
  >
    You haven't shortened any URLs yet :(
  </p>
  <h4 *ngIf="state.fetchUrlsError" class="text-red-600 text-base sm:text-xl">
    An error occured whiles fetching your shortend urls.
  </h4>
  <linksly-event-notifier></linksly-event-notifier>
</main>
