<main class="mr-1">
  <div class="flex flex-col items-start sm:items-center sm:flex-row gap-1">
    <input
      class="border-2 rounded-md p-1 outline-none focus:border-clr_primary transition-colors w-full"
      type="url"
      name="link"
      id="link"
      placeholder="Your long url"
    />
    <button
      class="bg-clr_primary border-2 border-clr_primary text-white rounded-md p-1 font-bold hover:bg-white hover:text-clr_primary min-w-max"
    >
      Generate Link
    </button>
  </div>

  <h3 class="text-xl text-clr_primary font-medium mt-2">Shortened URLs</h3>
  <table class="w-full">
    <thead class="border-b-2 border-clr_primary">
      <tr>
        <th>Code</th>
        <th class="hidden sm:block">Long URL</th>
        <th class="hidden sm:block">Date created</th>
        <th>Redirects</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-center">
        <td>skdkd</td>
        <td class="hidden sm:block">https://google.com/skldjksjfsjjs</td>
        <td class="hidden sm:block">Sunday 23 April 2022</td>
        <td>10</td>
        <td>
          <app-switch></app-switch>
        </td>
      </tr>
    </tbody>
  </table>
</main>
