<main>
  <section
    id="head"
    class="bg-clr_primary text-white mb-[100px] py-3 relative sm:h-[400px]"
  >
    <h3 class="text-[2rem] font-bold px-2">LINKSLY</h3>
    <h3 class="text-center text-2xl font-medium py-5">
      The next gen FREE url shortner
    </h3>
    <h3 class="text-center text-2xl font-medium py-3">Wanna give it a try?</h3>
    <div class="flex items-center justify-center py-4 gap-4">
      <a
        class="border-2 py-1 px-6 rounded-full w-max font-bold hover:bg-white hover:text-clr_primary"
        href="#"
        >Log In</a
      >
      <a
        class="border-2 py-1 px-6 rounded-full w-max font-bold hover:bg-white hover:text-clr_primary"
        href="#"
        >Register</a
      >
    </div>

    <div class="custom-shape-divider-bottom-1650551092 hidden sm:block">
      <svg
        data-name="Layer 1"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1200 120"
        preserveAspectRatio="none"
      >
        <path
          d="M1200 120L0 16.48 0 0 1200 0 1200 120z"
          class="shape-fill"
        ></path>
      </svg>
    </div>
  </section>

  <section id="features">
    <h3 class="text-center text-3xl text-clr_primary font-semibold mt-2">
      Features
    </h3>
    <div
      id="feature-list"
      class="flex items-center justify-center pt-3 px-2 flex-wrap gap-4"
    >
      <div class="flex items-center justify-center gap-2 sm:w-[40ch]">
        <img class="w-[70px]" src="/assets/wrench.svg" alt="wrench-image" />
        <div class="flex flex-col">
          <h4>Easy url management</h4>
          <p class="font-light">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            et justo commodo, facilisis justo eu, consequat dolor. Praesent
            eleifend dui vel mattis tempor.
          </p>
        </div>
      </div>

      <div class="flex items-center justify-center gap-2 sm:w-[40ch]">
        <img class="w-[70px]" src="/assets/dashboard.svg" alt="wrench-image" />
        <div class="flex flex-col">
          <h4>Powerful dashboard apis and functionalities</h4>
          <p class="font-light">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            et justo commodo, facilisis justo eu, consequat dolor. Praesent
            eleifend dui vel mattis tempor.
          </p>
        </div>
      </div>

      <div class="flex items-center justify-center gap-2 sm:w-[40ch]">
        <img class="w-[70px]" src="/assets/globe.svg" alt="wrench-image" />
        <div class="flex flex-col">
          <h4>Feature rich external web api interface</h4>
          <p class="font-light">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
            et justo commodo, facilisis justo eu, consequat dolor. Praesent
            eleifend dui vel mattis tempor.
          </p>
        </div>
      </div>
    </div>
  </section>

  <footer class="text-gray-400 text-center pt-3">Linksly 2022</footer>
</main>
