@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-bottom-1650467524 {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1650467524 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 70px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1650467524 .shape-fill {
    fill: #FFFFFF;
}
