@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-shape-divider-bottom-1650551092 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1650551092 svg {
    position: relative;
    display: block;
    width: calc(198% + 1.3px);
    height: 125px;
}

.custom-shape-divider-bottom-1650551092 .shape-fill {
    fill: #FFFFFF;
}

.logo {
    @apply font-logo-font font-bold
}


