<div class="mt-14 flex flex-col gap-3 animate-pulse">
  <div class="h-[15px] w-[250px] bg-gray-300"></div>

  <table class="mt-4">
    <thead>
      <th class="hidden sm:table-cell">
        <div class="h-[15px] w-[70px] bg-gray-300"></div>
      </th>
      <th>
        <div class="h-[15px] w-[70px] bg-gray-300"></div>
      </th>
      <th class="hidden sm:table-cell">
        <div class="h-[15px] w-[70px] bg-gray-300"></div>
      </th>
      <th>
        <div class="h-[15px] w-[70px] bg-gray-300"></div>
      </th>
      <th>
        <div class="h-[15px] w-[70px] bg-gray-300"></div>
      </th>
    </thead>

    <tbody>
      <tr>
        <div class="mt-4"></div>
      </tr>
      <tr>
        <td class="hidden sm:table-cell">
          <div class="h-[15px] w-[70px] bg-gray-300"></div>
        </td>
        <td>
          <div class="h-[15px] w-[100px] lg:w-[600px] bg-gray-300"></div>
        </td>
        <td class="hidden sm:table-cell">
          <div class="h-[15px] w-[170px] bg-gray-300"></div>
        </td>
        <td>
          <div class="h-[15px] w-[70px] bg-gray-300"></div>
        </td>
        <td>
          <div class="h-[15px] w-[70px] bg-gray-300"></div>
        </td>
      </tr>
      <tr>
        <div class="mt-4"></div>
      </tr>
      <tr>
        <td class="hidden sm:table-cell">
          <div class="h-[15px] w-[70px] bg-gray-300"></div>
        </td>
        <td>
          <div class="h-[15px] w-[100px] lg:w-[600px] bg-gray-300"></div>
        </td>
        <td class="hidden sm:table-cell">
          <div class="h-[15px] w-[170px] bg-gray-300"></div>
        </td>
        <td>
          <div class="h-[15px] w-[70px] bg-gray-300"></div>
        </td>
        <td>
          <div class="h-[15px] w-[70px] bg-gray-300"></div>
        </td>
      </tr>
      <tr>
        <div class="mt-4"></div>
      </tr>
      <tr>
        <td class="hidden sm:table-cell">
          <div class="h-[15px] w-[70px] bg-gray-300"></div>
        </td>
        <td>
          <div class="h-[15px] w-[100px] lg:w-[600px] bg-gray-300"></div>
        </td>
        <td class="hidden sm:table-cell">
          <div class="h-[15px] w-[170px] bg-gray-300"></div>
        </td>
        <td>
          <div class="h-[15px] w-[70px] bg-gray-300"></div>
        </td>
        <td>
          <div class="h-[15px] w-[70px] bg-gray-300"></div>
        </td>
      </tr>
      <tr>
        <div class="mt-4"></div>
      </tr>
      <tr>
        <td class="hidden sm:table-cell">
          <div class="h-[15px] w-[70px] bg-gray-300"></div>
        </td>
        <td>
          <div class="h-[15px] w-[100px] lg:w-[600px] bg-gray-300"></div>
        </td>
        <td class="hidden sm:table-cell">
          <div class="h-[15px] w-[170px] bg-gray-300"></div>
        </td>
        <td>
          <div class="h-[15px] w-[70px] bg-gray-300"></div>
        </td>
        <td>
          <div class="h-[15px] w-[70px] bg-gray-300"></div>
        </td>
      </tr>
      <tr>
        <div class="mt-4"></div>
      </tr>
      <tr>
        <td class="hidden sm:table-cell">
          <div class="h-[15px] w-[70px] bg-gray-300"></div>
        </td>
        <td>
          <div class="h-[15px] w-[100px] lg:w-[600px] bg-gray-300"></div>
        </td>
        <td class="hidden sm:table-cell">
          <div class="h-[15px] w-[170px] bg-gray-300"></div>
        </td>
        <td>
          <div class="h-[15px] w-[70px] bg-gray-300"></div>
        </td>
        <td>
          <div class="h-[15px] w-[70px] bg-gray-300"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
