<div
  class="flex flex-col gap-1 sm:grid sm:grid-cols-2 sm:gap-5 md:flex md:flex-row md:flex-wrap"
>
  <div class="flex gap-1 items-center animate-pulse">
    <div class="rounded-full w-[50px] h-[50px] bg-gray-300"></div>
    <div class="flex flex-col items-start gap-1">
      <div class="w-[60px] h-[10px] bg-gray-300"></div>
      <div class="w-[200px] h-[15px] bg-gray-300"></div>
    </div>
  </div>

  <div class="flex gap-1 items-center animate-pulse">
    <div class="rounded-full w-[50px] h-[50px] bg-gray-300"></div>
    <div class="flex flex-col items-start gap-1">
      <div class="w-[60px] h-[10px] bg-gray-300"></div>
      <div class="w-[200px] h-[15px] bg-gray-300"></div>
    </div>
  </div>

  <div class="flex gap-1 items-center animate-pulse">
    <div class="rounded-full w-[50px] h-[50px] bg-gray-300"></div>
    <div class="flex flex-col items-start gap-1">
      <div class="w-[60px] h-[10px] bg-gray-300"></div>
      <div class="w-[200px] h-[15px] bg-gray-300"></div>
    </div>
  </div>

  <div class="flex gap-1 items-center animate-pulse">
    <div class="rounded-full w-[50px] h-[50px] bg-gray-300"></div>
    <div class="flex flex-col items-start gap-1">
      <div class="w-[60px] h-[10px] bg-gray-300"></div>
      <div class="w-[200px] h-[15px] bg-gray-300"></div>
    </div>
  </div>

  <div class="flex gap-1 items-center animate-pulse">
    <div class="rounded-full w-[50px] h-[50px] bg-gray-300"></div>
    <div class="flex flex-col items-start gap-1">
      <div class="w-[60px] h-[10px] bg-gray-300"></div>
      <div class="w-[200px] h-[15px] bg-gray-300"></div>
    </div>
  </div>
</div>
